{{#if PRESET_Character_LilToonSourceAlgorithmAssembly}}
#include "Packages/com.hollow.honpr/Shaders/ShaderLibrary/Assemblies/CharacterToon/HoNprCharacterToonLilToonSourceAlgorithmAssembly.hlsl"
{{/if PRESET_Character_LilToonSourceAlgorithmAssembly}}
{{#if PRESET_Character_Toon_Lite}}
#include "Packages/com.hollow.honpr/Shaders/ShaderLibrary/Assemblies/CharacterToon/HoNprCharacterToonLite.hlsl"
{{/if PRESET_Character_Toon_Lite}}
{{#if PRESET_Character_Skin_fSSS}}
#include "Packages/com.hollow.honpr/Shaders/ShaderLibrary/Assemblies/CharacterToon/HoNprCharacterToonSkinFSSS.hlsl"
{{/if PRESET_Character_Skin_fSSS}}
{{#if PRESET_Character_Toon_Standard}}
#include "Packages/com.hollow.honpr/Shaders/ShaderLibrary/Assemblies/CharacterToon/HoNprCharacterToonStandard.hlsl"
{{/if PRESET_Character_Toon_Standard}}
{{#if PRESET_Character_Toon_Rich}}
#include "Packages/com.hollow.honpr/Shaders/ShaderLibrary/Assemblies/CharacterToon/HoNprCharacterToonRich.hlsl"
{{/if PRESET_Character_Toon_Rich}}
{{#if PRESET_Character_Toon_Transparent}}
#include "Packages/com.hollow.honpr/Shaders/ShaderLibrary/Assemblies/CharacterToon/HoNprCharacterToonTransparent.hlsl"
{{/if PRESET_Character_Toon_Transparent}}
{{#if PRESET_Hair_Toon}}
#include "Packages/com.hollow.honpr/Shaders/ShaderLibrary/Assemblies/CharacterToon/HoNprCharacterToonHair.hlsl"
{{/if PRESET_Hair_Toon}}
