{{#if PRESET_Character_LilToon_SourceAssembly}}
#include "Packages/com.hollow.honpr/Shaders/ShaderLibrary/Assemblies/CharacterLilToon/HoNprCharacterLilToonSourceAssembly.hlsl"
{{/if PRESET_Character_LilToon_SourceAssembly}}
{{#if PRESET_Character_LilToon_Lite}}
#include "Packages/com.hollow.honpr/Shaders/ShaderLibrary/Assemblies/CharacterLilToon/HoNprCharacterLilToonLite.hlsl"
{{/if PRESET_Character_LilToon_Lite}}
{{#if PRESET_Character_LilToon_Skin_fSSS}}
#include "Packages/com.hollow.honpr/Shaders/ShaderLibrary/Assemblies/CharacterLilToon/HoNprCharacterLilToonSkinFSSS.hlsl"
{{/if PRESET_Character_LilToon_Skin_fSSS}}
{{#if PRESET_Character_LilToon_Standard}}
#include "Packages/com.hollow.honpr/Shaders/ShaderLibrary/Assemblies/CharacterLilToon/HoNprCharacterLilToonStandard.hlsl"
{{/if PRESET_Character_LilToon_Standard}}
{{#if PRESET_Character_LilToon_Rich}}
#include "Packages/com.hollow.honpr/Shaders/ShaderLibrary/Assemblies/CharacterLilToon/HoNprCharacterLilToonRich.hlsl"
{{/if PRESET_Character_LilToon_Rich}}
{{#if PRESET_Character_LilToon_Transparent}}
#include "Packages/com.hollow.honpr/Shaders/ShaderLibrary/Assemblies/CharacterLilToon/HoNprCharacterLilToonTransparent.hlsl"
{{/if PRESET_Character_LilToon_Transparent}}
{{#if PRESET_Hair_LilToon}}
#include "Packages/com.hollow.honpr/Shaders/ShaderLibrary/Assemblies/CharacterLilToon/HoNprCharacterLilToonHair.hlsl"
{{/if PRESET_Hair_LilToon}}
